[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
python-dotenv = "*"
slackclient = "*"
html2text = "*"

[dev-packages]

[requires]
python_version = "3.8"
